/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --col-red: #e55934;
  --col-blue: #75f4f4;
  --col-light: #efe9f4;
  --col-dark: #4b3b47;
}

html,
body {
  color: var(--col-dark);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

pre {
  background-color: #dfdfdf;
  border: 1px solid #cccccc;
  border-radius: 5px;
}
