<app-container>
  <form [formGroup]="loginForm">
    <h3>Trainer name</h3>
    <input type="text" formControlName="trainerName" placeholder="Enter a trainer name" required minlength="2"
      maxlength="20">
    <button class="login-button" type="button" (click)="onLoginClicked()">Start game!</button>

    <div *ngIf="trainerName.invalid && (trainerName.dirty || trainerName.touched)">

      <div *ngIf="trainerName.errors.required">
        Trainer name is required.
      </div>

      <div *ngIf="trainerName.errors.minlength">
        Trainer name must be at least 2 characters long.
      </div>


    </div>
  </form>
</app-container>
