app-container {
  display: grid;
  justify-content: center;
}

.login-button {
  box-shadow: 2px 0px 11px -7px var(--col-red);
  background: linear-gradient(
    to bottom,
    var(--col-red) 5%,
    var(--col-red) 100%
  );
  background-color: #599bb3;
  border-radius: 2px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  padding: 0.5em;
  text-decoration: none;
  text-shadow: 0px 1px 0px var(--col-red);
}

input {
  padding: 0.5em;
  border: hidden;
  box-shadow: 0px 0px 1px rgba(66, 66, 66, 0.75);
}
