<nav>
  <ul>
    <li class="navbar-brand">
      <a routerLink="/pokemon">
        <img src="../../../../assets/pokemon_logo.png" alt="Pokemon Logo for Navbar" />

      </a>
    </li>
    <ng-container *ngIf="hasActiveSession">
      <li>
        <a routerLink="/pokemon">Pokemon</a>
      </li>
      <li>
        <a routerLink="/trainer">Trainer</a>
      </li>
    </ng-container>

  </ul>

  <button class="logout-button" *ngIf="hasActiveSession" (click)="logout()">Log out</button>
</nav>
