nav {
  position: sticky;
  top: 0;
  background-color: var(--col-red);
  color: var(--col-light);
}

nav,
ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 1em;
}

.navbar-brand img {
  max-width: 60px;
}

.logout-button {
  align-self: center;
  justify-content: flex-end;
  padding: 1em;
  margin-right: 1em;
  cursor: pointer;
}
