.pokemon__cover {
  max-width: 100%;
  width: 100%;
  display: block;
}

.pokemon__title {
  font-size: 1.25em;
}

.pokemon-grid {
  margin-top: 2em;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.pokemon-card {
  cursor: pointer;
  display: grid;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.35);
}
