<ul class="pokemon-grid">
  <li *ngFor="let poke of pokemon" [routerLink]="['/pokemon/' + poke.name]" class="pokemon-card">
    <h4 class="pokemon__name">{{ poke.name.toUpperCase() }}</h4>

    <img class="pokemon__sprites" [src]="poke.url" [alt]="poke.name">
  <li>
</ul>
