<div class="pokemon-detail-container">
  <h1 class="pokemon-name">{{pokemon.name.toUpperCase()}}</h1>

  <img class="pokmon-image" [src]="pokemon.sprites.other.dream_world.front_default" alt="pokemon.name" />

  <ul class="info">
    <article>
      <li *ngFor="let pokemonType of pokemon.types">
        <p>Type: {{ pokemonType.type.name }}</p>
      <li>

      <li *ngFor="let pokemonAbility of pokemon.abilities let i = index">
        <p>Ability {{ i + 1 }}: {{pokemonAbility.ability.name}}</p>
      <li>

        <p>Height: {{pokemon.height}}</p>
        <p>Weight: {{pokemon.weight}}</p>
        <p>Base experience: {{pokemon.base_experience}}</p>

    </article>

    <article>

      <li *ngFor=" let pokemonStats of pokemon.stats">
        <p>{{pokemonStats.stat.name}}: {{ pokemonStats.base_stat}}</p>
      <li>

    </article>

    <article>
      <li *ngFor="let pokemonMove of pokemon.moves | slice:0:5 let i = index">
        <p>Move {{ i + 1 }}: {{ pokemonMove.move.name }}</p>
      <li>
    </article>
  </ul>
  <button type="button" class="collect-button" (click)="onCollectPokemon()"> Collect pokemon </button>

</div>
