li {
  list-style-type: none;
}

.info {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  background-color: rgb(225, 225, 225);
}

.pokemon-detail-container {
  width: 600px;
  background-color: rgb(255, 137, 137);
  -webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-row-gap: 3em;
  margin-top: 5em;
}

.pokmon-image {
  max-height: 180px;
  height: 100%;
  justify-self: center;
}
.pokemon-name {
  justify-self: center;
}
